html {font-size: 10px;font-family: 'Open Sans', sans-serif; /}


h1 {font-size: 60px;text-align: center;}

h2 {font-size: 30px;text-align: center;}

h3 {font-size: 30px;text-align: center;}

p, li { font-size: 16px; line-height: 2; letter-spacing: 1px; }

html { background-color: #F5F5DC ;}

body { margin: 0 auto;background-color: #F5F5DC ;padding: 0 20px 20px 20px;
}

h1 { margin: 2; padding: 20px 0; color: #800000; text-shadow: 3px 3px 1px red;  border: 5px solid black;background-color: #87CEEB;}
img {display: block; margin: 0 auto;}
a { line-height: 2; margin: 0; padding: 20px 0; color:#FF0000; text-shadow:  black; font-size: 30px; height: 42px;}
